{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-7 col-md-6 my-5 ms-4">
                <h1 class="display-3 text-black-orange cta-text">
                    Perfect tires for Your car
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 my-5 mx-auto">
                <a href="" class="btn btn-outline-light cta-btn" data-mdb-ripple-color="light">Find Yours now</a>
            </div>
        </div>
    </div>
{% endblock %}