{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block extra_title %}Profile{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row main-container-checkout h-100">
    <div class="col-sm-12 col-lg-1 background-orange"></div>
    <div class="col-sm-12 col-lg-8 offset-lg-1 content-area-checkout">
        <div class="card product-card-details mb-3 mt-3 pt-3 pb-3 px-3">
            <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">My Profile</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-4 offset-xl-1" id="update-delivery-info">
                    <h5 class="text-muted">Profile details</h5>
                    <div class="accordion-item">
                        <p class="text-muted accordion-header" id="delivery-info">
                            <button
                                class="accordion-button btn rounded-0 collapsed"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#default-delivery-form"
                                aria-expanded="true"
                                aria-controls="default-delivery-form"
                                >
                                Default Delivery Information
                            </button>
                        </p>
                        <div id="default-delivery-form" 
                            class="accordion-collapse collapse" 
                            aria-labelledby="delivery-info" 
                            data-mdb-parent="update-delivery-info">
                            <form class="mt-3 accordion-body" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn background-orange rounded-0 text-uppercase float-right">Update Information</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10 offset-lg-1 col-xl-6 accordion" id="order-history-section">
                    <h5 class="text-muted">Order History</h5>
                    {% if orders %}
                        {% for order in orders %}
                        <div class="accordion-item">
                            <p class="text-muted accordion-header" id="number-{{ order.order_number|lower }}">
                                <button
                                    class="accordion-button btn rounded-0 collapsed"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#details-{{ order.order_number|lower }}"
                                    aria-expanded="false"
                                    aria-controls="details-{{ order.order_number|lower }}"
                                    >
                                    {{ order.order_number }} | {{ order.date|date }}
                                </button>
                            </p>
                            <div id="details-{{ order.order_number|lower }}" 
                                class="accordion-collapse collapse" 
                                aria-labelledby="number-{{ order.order_number|lower }}">
                                <table class="table table-sm table-borderless accordion-body">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Date</th>
                                            <th>Items</th>
                                            <th>Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="text-black-orange" href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:12 }}
                                                </a>
                                            </td>
                                            <td>{{ order.date|date }}</td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    {% for item in order.lineitems.all %}
                                                        <li>
                                                            <a class="text-black-orange" 
                                                                href="{% url 'product_details' item.product.ean_code %}"
                                                                title="{{ item.product.name }}">
                                                                {{ item.product.name }} x{{ item.quantity }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>{{ order.order_total }} Eur</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <a href="{% url 'products' %}" 
                            class="btn background-orange w-95 rounded-0">
                            You don't have any previous orders! <br> 
                            Explore our offer and make one now!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-1 offset-lg-1 background-orange"></div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}