@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Domine:wght@500&display=swap');


html {
    height: 100%;
}

body {
    background: url('/media/iStock-1030486504-tires.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 70px);
    color: #555;
    font-family: 'Domine', serif;
}

header {
    background-color: rgb(250, 129, 0);
}

.text-black-orange {
    color: rgb(112, 58, 0) !important;
}

.background-orange {
    background-color: rgb(250, 129, 0) !important;
}

.background-black-orange {
    background-color: rgb(112, 58, 0) !important;
}

.background-white {
    background-color: white !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo {
    width: fit-content;
}

.logo-decorator {
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 2.8rem;
    text-shadow: 2px 2px rgb(255, 255, 255);
}


.cta-text {
    text-shadow: 1px 1px 5px rgb(250, 129, 0);
}

.cta-btn {
    width: 60%;
    height: 60px;
    font-size: 1.8rem;
}

.header-container {
    padding-top: 70px;
    height: 70px;
}

.navbar-dividerline {
    display: none;
}

.main-container {
    width: 99%;
}

.sidenav-search-form {
    margin-left: 5%;
    margin-right: 1%;
    width: 98%;
}

#sidenav-searchbar::placeholder {
    color: rgb(112, 58, 0);
}

.product-card {
    width: 80%;
    height: 450px;
    margin-left: 10%;
    margin-right: 10%;
}

.product-image {
    max-height: 400px;
    width: auto;
    padding-left: 10%;
}

.product-image-link {
    margin: auto 0;
}


/* Fixed sidebar for desktop */
.main-side-navbar {
    position: fixed; 
}

.content-area {
    background: rgba(255,255,255, 0.8);
    margin-left: 17.5%;
}

.card.mb-3 {
    background-color: white;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 85%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

@media (max-width: 992px) {
    .navbar-dividerline {
        display: block;
        border: 1px rgb(112, 58, 0);
    }
}


/* Adjusts sidenav and content layout on slightly smaller screens - laptops etc */
@media (max-width: 1200px) {
    .content-area {
        margin-left: 26%;
    }
    .product-card {
        width: 98%;
        height: 350px;
        margin-left: 1%;
        margin-right: 1%;
    }
}
