{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}Set Password{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col">
        <hr>
        <h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
        <hr>
    </div>
  </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn background-orange rounded-0" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
