<div class="col-sm-12 col-lg-3 col-xl-2 main-side-navbar background-orange h-100">
    <div class="row">
        <form class="sidenav-search-form my-3" method="GET" action="{% url 'products' %}">
            <div class="input-group">
                <div class="form-outline">
                    <input id="sidenav-searchbar" class="form-control background-white text-black-orange rounded-0" type="text" name="q" placeholder="Search"/>
                </div>
                <button type="button" class="btn background-white rounded-0">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>