{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row main-container-checkout h-100">
        <div class="col-sm-12 col-lg-2 col-xl-1 background-orange"></div>

        <div class="col-sm-12 col-lg-6 offset-lg-1 col-xl-8 offset-xl-1 content-area-checkout">
            <div class="card product-card-details mb-3 mt-3 pt-3 pb-3 px-3">
                <div class="row">
                    <div class="col">
                        <hr>
                        <h2 class="logo-font mb-4">Webshop Management</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-3">
                        <h5 class="logo-font mb-4">Add New Product</h5>
                        <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="text-center">
                                <a class="btn background-orange rounded-0" href="{% url 'products' %}">Cancel</a>
                                <button class="btn background-orange rounded-0" type="submit">Add Product</button>
                            </div>
                        </form>
                    </div>            
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-2 offset-lg-1 col-xl-1 offset-xl-1 background-orange"></div>
    </div>
{% endblock %}