{% extends "base.html" %}
{% load static %}

{% block extra_title %}{{ product.name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row main-container h-100">
  {% include 'products/includes/side-nav-desktop.html' %}
    <div class="col-sm-12 col-lg-9 col-xl-10 content-area">

        <div class="card mb-3 mt-3 pt-3 pb-3 px-3 product-card-details">
            <div class="row g-0">
              <div class="col-md-4">
                {% if product.image %}
                    <a class="product-image-link" href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a class="product-image-link" href="">
                        <img class="card-img-top img-fluid product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
              </div>
              <div class="col-md-8 px-3">
                <div class="card-body">
                  <h3 class="card-title">
                    <strong>
                      {{ product.name }}
                        {% if product.category.name == "winter_tyre" %}
                          <i class="snow-blue fa-solid fa-snowflake"></i>
                        {% else %}
                          <i class="sun-yellow fa-solid fa-sun"></i>
                        {% endif %}
                    </strong>
                  </h3>
                  {% if product.manufacturer.image %}
                  <p class="card-text"><img class="brand-logo-small" src="{{ product.manufacturer.image.url }}" alt="{{ product.manufacturer }}"></p>
                  {% else %}
                  <p class="card-text">{{ product.manufacturer.display_name }}</p>
                  {% endif %}
                  <p class="card-text">{{ product.size.full_size_display }}</p>
                  <h4 class="card-title"><strong>{{ product.price }} Eur</strong></h4>

                  <form class="form mt-5" action="{% url 'add_to_cart' product.ean_code %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="col-12">
                        <div class="form-group quantity-input-field">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button class="decrement-qty btn background-grey rounded-0" 
                                  data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                <span class="icon">
                                  <i class="fas fa-minus"></i>
                                </span>
                              </button>
                            </div>
                            <input class="form-control qty_input" type="number" name="quantity" value="4" min="1" max="8" data-item_id="{{ product.ean_code }}" id="id_qty_{{ product.id }}">
                            <div class="input-group-append">
                              <button class="increment-qty btn background-grey rounded-0"
                                  data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                <span class="icon">
                                  <i class="fas fa-plus"></i>
                                </span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <a href="{% url 'products' %}" class="btn background-orange rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Return to webshop</span>
                            </a>
                            <input type="submit" class="btn background-orange rounded-0 text-uppercase mt-3" value="Add to shopping cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <div class="product-detail-divider background-black-orange"></div>
            <div class="row mt-5 mb-3 mx-3">
              <div class="col-sm-12 col-lg-5 px-3">
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">EAN: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.ean_code }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Season: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.category.display_name }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Full Size: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.size.full_size_display }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Width: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.size.width }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Height: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.size.heigth }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Rim size: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> R{{ product.size.rim_size }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Load Index: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.load_index }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange">Speed Index: </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="card-text text-black-orange text-end"> {{ product.speed_index }}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-6 offset-lg-1 px-3">
                <p align="justify" class="card-text pe-5">{{ product.description }}</p>
              </div>
            </div> 
          </div>
          <div class="card mb-3 mt-3 pt-3 pb-3 px-3 product-card btn-back">
            <h4>Other offers with size  {{ product.size.full_size_display }}</h4> 
        </div>
        {% for product in other_products_same_size %}
        <div class="card mb-3 mt-3 pt-3 pb-3 px-3 product-card">
            <div class="row g-0">
              <div class="col-md-4">
                {% if product.image %}
                    <a class="product-image-link" href="{% url 'product_details' product.ean_code %}">
                        <img class="card-img-top img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a class="product-image-link" href="">
                        <img class="card-img-top img-fluid product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
              </div>
              <div class="col-md-8 px-3">
                <div class="card-body">
                  <h3 class="card-title">
                    <strong>
                      {{ product.name }}
                        {% if product.category.name == "winter_tyre" %}
                          <i class="snow-blue fa-solid fa-snowflake"></i>
                        {% else %}
                          <i class="sun-yellow fa-solid fa-sun"></i>
                        {% endif %}
                    </strong>
                  </h3>
                  {% if product.manufacturer.image %}
                  <p class="card-text mt-4"><img class="brand-logo-small" src="{{ product.manufacturer.image.url }}" alt="{{ product.manufacturer }}"></p>
                  {% else %}
                  <p class="card-text mt-4">{{ product.manufacturer.display_name }}</p>
                  {% endif %}
                  <h4 class="card-text mt-4">{{ product.size.full_size_display }}</h4>
                  <h4 class="card-title mt-4"><strong>{{ product.price }} Eur</strong></h4>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
    
    </div>  
</div>
{% endblock %}
    
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_adjusting_script.html' %}
{% endblock %}