{% extends "base.html" %}
{% load static %}

{% block extra_title %}Products{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row main-container h-100">
    {% include 'products/includes/side-nav-desktop.html' %}
    <div class="col-sm-12 col-lg-9 col-xl-10 content-area">
      <div class="row mt-1 mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if selected_sort_method != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if selected_sort_method == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if selected_sort_method == 'price_asc' %}selected{% endif %}>Price <i class="fas fa-arrow-down"></i></option>
                    <option value="price_desc" {% if selected_sort_method == 'price_desc' %}selected{% endif %}>Price <i class="fas fa-arrow-up"></i></option>
                    <option value="size__full_size_sort_asc" {% if selected_sort_method == 'size__full_size_sort_asc' %}selected{% endif %}>Size <i class="fas fa-arrow-down"></i></option>
                    <option value="size__full_size_sort_desc" {% if selected_sort_method == 'size__full_size_sort_desc' %}selected{% endif %}>Size <i class="fas fa-arrow-up"></i></option>
                    <option value="manufacturer__name_asc" {% if selected_sort_method == 'manufacturer__name_asc' %}selected{% endif %}>Brand (A-Z)</option>
                    <option value="manufacturer__name_desc" {% if selected_sort_method == 'manufacturer__name_desc' %}selected{% endif %}>Brand (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
          <p class="text-muted mt-3 text-center text-md-left">
              {{ products|length }} Products
          </p>
      </div>
    </div>
        {% for product in products %}
        <div class="card mb-3 mt-3 pt-3 pb-3 px-3 product-card">
            <div class="row g-0">
              <div class="col-md-3">
                {% if product.image %}
                    <a class="product-image-link" href="{% url 'product_details' product.ean_code %}">
                        <img class="card-img-top img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a class="product-image-link" href="">
                        <img class="card-img-top img-fluid product-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
              </div>
              <div class="col-md-7 px-3">
                <div class="card-body">
                  <h3 class="card-title">
                    <strong>
                      {{ product.name }}
                        {% if product.category.name == "winter_tyre" %}
                          <i class="snow-blue fa-solid fa-snowflake"></i>
                        {% else %}
                          <i class="sun-yellow fa-solid fa-sun"></i>
                        {% endif %}
                    </strong>
                  </h3>
                  {% if product.manufacturer.image %}
                  <p class="card-text mt-4"><img class="brand-logo-small" src="{{ product.manufacturer.image.url }}" alt="{{ product.manufacturer }}"></p>
                  {% else %}
                  <p class="card-text mt-4">{{ product.manufacturer.display_name }}</p>
                  {% endif %}
                  <h4 class="card-text mt-4">{{ product.size.full_size_display }}</h4>
                  <h4 class="card-title mt-4"><strong>{{ product.price }} Eur</strong></h4>

                  <form class="form mt-5" action="{% url 'add_to_cart' product.ean_code %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 my-3 mx-5">
                          <div class="form-group quantity-input-field">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <button class="decrement-qty btn background-grey rounded-0" 
                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                  <span class="icon">
                                    <i class="fas fa-minus"></i>
                                  </span>
                                </button>
                              </div>
                              <input class="form-control qty_input" type="number" name="quantity" value="4" min="1" max="8" data-item_id="{{ product.ean_code }}" id="id_qty_{{ product.id }}">
                              <div class="input-group-append">
                                <button class="increment-qty btn background-grey rounded-0"
                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                  <span class="icon">
                                    <i class="fas fa-plus"></i>
                                  </span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                            <input type="submit" class="btn background-orange rounded-0 text-uppercase my-3 mx-5" value="Add to shopping cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                  </form>

                </div>
              </div>
              {% if request.user.is_superuser %}
                <div class="col-md-2">
                  <small>
                    <a href="{% url 'update_product' product.ean_code %}">Update</a> | 
                    <a class="text-danger" href="{% url 'delete_product' product.ean_code %}">Delete</a>
                  </small>
                </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
    
    </div>  
</div>
<div class="btt-button shadow-sm rounded-0 border border-black background-orange">
  <a class="btt-link d-flex h-100">
      <i class="fas fa-arrow-up text-black-orange mx-auto my-auto"></i>
  </a>
</div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sortName = selectedVal.split("_")[0];
                if (sortName == "size"){
                  sort = "size__full_size_sort";
                  }
                else if (sortName == "manufacturer"){
                  sort = "manufacturer__name";
                  }
                else {
                  sort = sortName;
                }
                  var direction = selectedVal.split("_").pop();

                  currentUrl.searchParams.set("sort", sort);
                  currentUrl.searchParams.set("direction", direction);

                  window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
    {% include 'products/includes/quantity_adjusting_script.html' %}
{% endblock %}
